psycopg2-binary
paramiko
requests
beautifulsoup4
pandas
aiohttp
aiofiles
asyncio
pylance
setuptools
scikit-learn
twine
build
pipenv
anyio
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted
kubernetes
discord-webhook